.months {
  display: flex;
}

.months button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  margin: 0 10px 0 10px;
}

.calendarContainer {
  width: 430px;
  height: 460px;
  margin: 10px auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.calendarHeader {
  text-align: center;
}
.calendarHeader > button {
  background-color: #ececec;
  border: none;
  padding: 5px 20px 5px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  margin-top: 10px;
  font-weight: 600;
}
.calendarHeader div {
  width: 100%;
  margin: 7px auto;
}
.calendarHeader div span {
  font-weight: 600;
}

.calendarHeader div button {
  padding: 5px 15px 0 15px;
  border-radius: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.calTable {
  width: 95%;
  max-height: 95%;
  margin: 5px auto;
}

.calTable th {
  color: #cccccc;
  height: 40px;
  width: 40px;
}
.calTable td {
  height: 50px;
  text-align: center;
  font-weight: 600;
}

.calTable td.prev {
  color: #cccccc;
}

.calTable td.active {
  background-color: #2189d8;
  border-radius: 20%;
  color: #eeeeee;
}
